name: Selvania Launcher Build & Release
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: npm ci
        shell: bash

      - name: Build project
        run: npm run build
        shell: bash

      - name: Zip build
        run: |
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            if (Test-Path dist) {
              New-Item -ItemType Directory -Path dist_zip -Force
              Compress-Archive -Path dist\* -DestinationPath dist_zip\SelvaniaLauncher-${GITHUB_SHA}.zip
            } else {
              Write-Error "Le dossier dist n'existe pas !"
              exit 1
            }
          else
            if [[ -d "dist" ]]; then
              mkdir -p dist_zip
              zip -r dist_zip/SelvaniaLauncher-${GITHUB_SHA}.zip dist/*
            else
              echo "Le dossier dist n'existe pas !"
              exit 1
            fi
        shell: bash

      - name: Create Release & Upload Asset
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.sha }}
          name: Release ${{ github.sha }}
          artifacts: dist_zip/SelvaniaLauncher-${{ github.sha }}.zip
          draft: false
          prerelease: false
