# .github/workflows/build-release.yml
name: Selvania Launcher Build & Release
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Zip build
        run: |
          mkdir -p dist_zip
          zip -r dist_zip/SelvaniaLauncher-${{ github.sha }}.zip dist/*

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: dist_zip/SelvaniaLauncher-${{ github.sha }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create GitHub Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.sha }}
          name: Release ${{ github.sha }}
          draft: false
          prerelease: false

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Upload assets to release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: artifacts/SelvaniaLauncher-${{ github.sha }}.zip
          asset_name: SelvaniaLauncher-${{ github.sha }}.zip
          asset_content_type: application/zip
