name: Launcher Build
on:
  push:
    branches: [ master ]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [macos-14, ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: npm ci

      - name: Get version
        id: version
        run: echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Build
        run: npm run build

      - name: Install GitHub CLI
        run: sudo apt update && sudo apt install -y gh

      - name: Create or get release
        id: release
        run: |
          # Check if release exists
          RELEASE_ID=$(gh release view ${{ env.VERSION }} --repo $GITHUB_REPOSITORY --json id --jq '.id' || echo "")
          if [ -z "$RELEASE_ID" ]; then
            echo "Release does not exist, creating..."
            gh release create ${{ env.VERSION }} dist/* --repo $GITHUB_REPOSITORY --title "release ${{ env.VERSION }}" --notes "Auto release"
          else
            echo "Release exists, uploading assets..."
            for file in dist/*; do
              gh release upload ${{ env.VERSION }} "$file" --repo $GITHUB_REPOSITORY --clobber
            done
          fi
