name: Selvania Launcher Build & Release
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14, windows-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Zip build
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            powershell Compress-Archive -Path dist\* -DestinationPath dist_zip\SelvaniaLauncher-${GITHUB_SHA}.zip
          else
            mkdir -p dist_zip
            zip -r dist_zip/SelvaniaLauncher-${GITHUB_SHA}.zip dist/*
          fi

      - name: Create release & upload asset
        uses: ncipollo/release-action@v1
        with:
          tag: release-${{ github.sha }}
          name: Release ${{ github.sha }}
          artifacts: dist_zip/SelvaniaLauncher-${GITHUB_SHA}.zip
          draft: false
          prerelease: false
